@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* White */
  --background-end-rgb: 240, 240, 240; /* Light gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30; /* Dark gray */
    --background-end-rgb: 20, 20, 20; /* Even darker gray */
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(var(--background-end-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: 'Arial', sans-serif;
}

.no-scroll {
  overflow: hidden; /* Prevents scrolling */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
